{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="col-xs-0 col-md-1"></div>
    <div class="col-xs-12 col-md-10">
        <h3><span class="glyphicon glyphicon-file" style="font-size: 0.8em;"></span> Citation</h3>
        <p>
            <b>The JAX Synteny Browser for Mouse-Human Comparative Genomics.</b>
            <br>
            Bioinformatics, ...
        </p>

        <h3><span class="glyphicon glyphicon-envelope" style="font-size: 0.8em;"></span> Contact</h3>
        <p>
            <b>General</b>: &lt;carol.bult@jax.org&gt;, Carol J. Bult, Ph.D.
            <br>
            <b>Bugs</b>: &lt;cssc@jax.org&gt;, The Jackson Laboratory Scientific Computing Group
            <br>
            <b>Implementation Help</b>: 
            stackoverflow.com or 
            <a href="https://bioinformatics.stackexchange.com/questions/ask?tags=higlass&tags=genomics&tags=visualization" target="_blank">bioinformatics.stackexchange.com</a>
        </p>
    
        <h3><span class="glyphicon glyphicon-cog" style="font-size: 0.8em;"></span> Source Code</h3>
        <p>
            All the code for the JAX Synteny Browser is open source and available on <a href="https://github.com/TheJacksonLaboratory/syntenybrowser" target="_blank">GitHub</a>  
            under the JAX Licence. The core packages are: 
            <br>
            <img src="{{ url_for('static', filename='img/github-mark-32.png') }}" height="24" width="24" style="padding: 5px;" />
            Data Sources and Formats: <a href="https://github.com/TheJacksonLaboratory/syntenybrowser" target="_blank">https://github.com/TheJacksonLaboratory/syntenybrowser</a>
            <br>
            <img src="{{ url_for('static', filename='img/github-mark-32.png') }}" height="24" width="24" style="padding: 5px;" />
            ETL Python Scripts: <a href="https://github.com/TheJacksonLaboratory/syntenybrowser" target="_blank">https://github.com/TheJacksonLaboratory/syntenybrowser</a>
            <br>
            <img src="{{ url_for('static', filename='img/github-mark-32.png') }}" height="24" width="24" style="padding: 5px;" />
            Database and Config Files: <a href="https://github.com/TheJacksonLaboratory/syntenybrowser" target="_blank">https://github.com/TheJacksonLaboratory/syntenybrowser</a>
            <br>
            <img src="{{ url_for('static', filename='img/github-mark-32.png') }}" height="24" width="24" style="padding: 5px;" /> 
            Application Layer and API: <a href="https://github.com/TheJacksonLaboratory/syntenybrowser" target="_blank">https://github.com/TheJacksonLaboratory/syntenybrowser</a>
            <br>
            <img src="{{ url_for('static', filename='img/github-mark-32.png') }}" height="24" width="24" style="padding: 5px;" /> 
            User Interface and Visualization: <a href="https://github.com/TheJacksonLaboratory/syntenybrowser" target="_blank">https://github.com/TheJacksonLaboratory/syntenybrowser</a> 
        </p>
    
        <h3><span class="glyphicon glyphicon-cog" style="font-size: 0.8em;"></span> Resources</h3>
        <p></p>
    
        <h3><span class="glyphicon glyphicon-user" style="font-size: 0.8em;"></span> Core Contributors</h3>
        <p>
            &nbsp;&nbsp;<a href="https://www.jax.org/people/anna-lamoureux" target="_blank">Anna Lamoureux</a>
            , B.S., Associate Scientific Software Engineer 
            <br>
            &nbsp;&nbsp;<a href="https://www.jax.org/people/anna-lamoureux" target="_blank">Paul Hale</a>
            , M.S., Bioinformatics Analyst I 
           <br>
           &nbsp;&nbsp;<a href="https://www.jax.org/people/georgi-kolishovski" target="_blank">Georgi Kolishovski</a>
           , M.S., Scientific Software Engineer
           <br>
           &nbsp;&nbsp;<a href="http://lobstersontheloose.com/" target="_blank">Al Simons</a>
           , Principal Scientific Software Engineer
        </p>
        
        <h3><span class="glyphicon glyphicon-user" style="font-size: 0.8em;"></span> Advisors</h3>
        <p>
            &nbsp;&nbsp;<a href="https://www.jax.org/research-and-faculty/faculty/carol-bult" target="_blank">Carol J. Bult</a>
            , Ph.D. Professor, Knowlton Family Chair 
            <br>
            &nbsp;&nbsp;<a href="https://www.jax.org/research-and-faculty/faculty/research-scientists/joel-richardson" target="_blank">Joel E. Richardson</a>
            , Ph.D., Senior Research Scientist
            <br>
            &nbsp;&nbsp;<a href="https://www.jax.org/people/govindarajan-kunde-ramamoorthy"  target="_blank">Govindarajan Kunde-Ramamoorthy</a>
            , Ph.D., Associate Director, Computational Sciences
            <br>
            &nbsp;&nbsp;<a href="https://www.jax.org/research-and-faculty/research-labs/the-bult-lab" target="_blank">Jill Recla</a>
            , Ph.D., Bioinformatics Analyst II
           <br>
           &nbsp;&nbsp;<a href="https://www.jax.org/people/anna-lamoureux" target="_blank">Omoluyi Adesanya</a>
        </p>
        
        <h3><span class="glyphicon glyphicon-pencil" style="font-size: 0.8em;"></span> Design</h3>
        <p>
            The website and logo () are designed by <a href="https://www.jax.org/people/anna-lamoureux" target="_blank">Anna Lamoureux</a>
            and The Jackson Laboratory Creative Services team.
        </p>

        <h3>Icons</h3>
        <p></p>
        
        <h3>Copyrights and Licenses</h3>
        <p>
            &copy; 2019 The Jackson Laboratory. 
	        <br>
            All content on this website is licensed under the Creative Commons Attribution license (CC BY). Copyright of the linked papers is with the publishers.
        </p>
    </div>
    <div class="col-xs-0 col-md-1"></div>
</div>
{% endblock %}
