{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="col-xs-0 col-md-1"></div>
    <div class="col-xs-12 col-md-10">
        <p>
            Conserved synteny describes a condition in which common ancestry is reflected as similar genome feature
            content and order along a chromosome in different species. The JAX Synteny Browser allows users to search for
            and selectively display genome features within syntenic blocks according to the biological and functional
            annotations associated with the features.
        </p>
        <br/>
        <br/>
        <h3>
            <span class="glyphicon glyphicon-file" style="font-size: 0.8em;"></span> Citation
        </h3>
        <p>
            <b>The JAX Synteny Browser for Mouse-Human Comparative Genomics.</b>
            <br>
            Bioinformatics; <i>pending approval</i>
        </p>

        <h3>
            <span class="glyphicon glyphicon-envelope" style="font-size: 0.8em;"></span> Contact
        </h3>
        <p>
            <b>General</b>: <a href="mailto:carol.bult@jax.org">carol.bult@jax.org</a>, Carol J. Bult, Ph.D.
            <br>
            <b>Bugs</b>: <a href="mailto:synbrowser-support@jax.org">synbrowser-support@jax.org</a>, application support team
        </p>
    
        <h3>
            <span class="glyphicon glyphicon-cog" style="font-size: 0.8em;"></span> Source Code
        </h3>
        <p>
            All the code for the JAX Synteny Browser is open source and available on
            <a href="https://github.com/TheJacksonLaboratory/syntenybrowser" target="_blank">GitHub</a>
            under the JAX Licence along with documentation on the code.
        </p>
    
        <h3>
            <span class="glyphicon glyphicon-user" style="font-size: 0.8em;"></span> Core Contributors
        </h3>
        <p>
            <a href="https://www.jax.org/people/anna-lamoureux" target="_blank">
                Anna Lamoureux
            </a>, B.S., Associate Scientific Software Engineer
            <br>
            <a href="https://www.linkedin.com/in/paul-hale-893993129/">
                Paul Hale
            </a>, M.S., Bioinformatics Analyst I
            <br>
            <a href="https://www.jax.org/people/georgi-kolishovski" target="_blank">
                Georgi Kolishovski
            </a>, M.S., Scientific Software Engineer
            <br>
            Al Simons, Principal Scientific Software Engineer
        </p>
        
        <h3>
            <span class="glyphicon glyphicon-user" style="font-size: 0.8em;"></span> Advisors
        </h3>
        <p>
            <a href="https://www.jax.org/research-and-faculty/faculty/carol-bult" target="_blank">
                Carol J. Bult
            </a>, Ph.D. Professor, Knowlton Family Chair
            <br>
            <a href="https://www.jax.org/research-and-faculty/faculty/research-scientists/joel-richardson" target="_blank">
                Joel E. Richardson
            </a>, Ph.D., Senior Research Scientist
            <br>
            <a href="https://www.jax.org/people/govindarajan-kunde-ramamoorthy" target="_blank">
                Govindarajan Kunde-Ramamoorthy
            </a>, Ph.D., Associate Director, Computational Sciences
            <br>
            Jill Recla, Ph.D., Bioinformatics Analyst II
            <br>
            Omoluyi Adesanya
        </p>
        
        <h3>
            <span class="glyphicon glyphicon-pencil" style="font-size: 0.8em;"></span> Design
        </h3>
        <p>
            Website designed by <a href="https://www.jax.org/people/anna-lamoureux" target="_blank">Anna Lamoureux</a>
            and The Jackson Laboratory Creative Services team.
        </p>
        
        <h3>Copyrights and Licenses</h3>
        <p>
            &copy; 2019 The Jackson Laboratory.
	        <br>
            All content on this website is licensed under the Creative Commons Attribution license (CC BY).
            Copyright of the linked papers is with the publishers.
        </p>
    </div>
    <div class="col-xs-0 col-md-1"></div>
</div>
{% endblock %}
